<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kosko</title>
    <link rel="stylesheet" href="/CSS/login.css">
</head>
<body>
    <div class="box">
        <h2>LOGIN</h2>
        <%= error %>
        <form class="obrazec" action="/login" method="POST">
            <div>
                <input type="email" name="email" id="email" placeholder="Email" required>
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
            <button type="submit">LOGIN</button>
        </form>
        <p class="register">Not a member? <a href="/register">Sign up</a></p>
    </div>
</body>
</html>