body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 50px;
    color: rgb(0, 50, 73);
    background-color: rgb(248, 247, 247);
}

nav {
    margin: 35px 0;
    padding-bottom: 10px;
    display: flex;
    border-bottom: 1px solid grey;
    align-items: center;
}

nav h2 {
    margin: 0;
}

button {
    color: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.logout {
    background-color: rgb(255, 85, 85);
    margin-left: 40px;
    padding: 8px 11px;
    font-size: 12px;
}

.new {
    background-color: rgb(145, 85, 165);
    padding: 12px 28px;
    margin-bottom: 30px;
}

.game_box {
    display: inline-block;
    width: 170px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    height: 170px;
    margin: 0 40px 40px 0;
    background-color: white;
}

.score {
    margin: 10px 0 20px 0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.options {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.options button, .statistika {
    font-weight: bold;
    font-size: 12px;
    color: white;
    padding: 9px 14px;
    border-radius: 3px;
}

.options button {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 85, 85);
    cursor: pointer;
}

.statistika {
    text-decoration: none;
    background-color: lightgreen;
}