<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kosko</title>
    <link rel="stylesheet" href="/CSS/team-styles.css">
</head>
<body>
    <div class="submit-btn">
        <a href="/game" class="next" onclick="saveTeam()">Začni tekmo</a>
    </div>
    <div class="box" style="border-right: 2px solid black;">
        <div class="part1">
            <h2>Ekipa A</h2>
            <p>Vpišite podatke za prvo ekipo in njene igralce.</p>
        </div>
        <div class="part2">
            <div class="team-info">
                <p style="font-size: 14px;">Ime ekipe A</p>
                <input class="team-input" type="text">
            </div>
            <div class="team-info">
                <p style="font-size: 14px;">Barva dresov</p>
                <div class="color">
                    <input type="color" class="colorpicker">
                </div>
            </div>
        </div>
        <div class="part3">
            <div class="player-info 0" style="padding: 0;">
                <div class="first-five hover F0" onclick="firstFive(0, 0)" style="bottom: -22.5px;">
                    <p class="first-five-num">1</p>
                </div>
                <div class="number">
                    <p style="font-size: 14px;">#</p>
                    <input class="number-input" id="p0-num0" type="number">
                </div>
                <div class="player-name">
                    <p style="font-size: 14px;">Ime in priimek</p>
                    <input class="player-input" id="p0-0" type="text" autocomplete="off">
                </div>
            </div>
            <div class="player-info 0">
                <div class="first-five hover F0" onclick="firstFive(1, 0)">
                    <p class="first-five-num">1</p>
                </div>
                <div class="number">
                    <input class="number-input" id="p0-num1" type="number">
                </div>
                <div class="player-name">
                    <input class="player-input" id="p0-1" type="text" autocomplete="off">
                </div>
            </div>
            <div class="player-info 0">
                <div class="first-five hover F0" onclick="firstFive(2, 0)">
                    <p class="first-five-num">1</p>
                </div>
                <div class="number">
                    <input class="number-input" id="p0-num2" type="number">
                </div>
                <div class="player-name">
                    <input class="player-input" id="p0-2" type="text" autocomplete="off">
                </div>
            </div>
            <div class="player-info 0">
                <div class="first-five hover F0" onclick="firstFive(3, 0)">
                    <p class="first-five-num">1</p>
                </div>
                <div class="number">
                    <input class="number-input" id="p0-num3" type="number">
                </div>
                <div class="player-name">
                    <input class="player-input" id="p0-3" type="text" autocomplete="off">
                </div>
            </div>
            <div class="player-info 0">
                <div class="first-five hover F0" onclick="firstFive(4, 0)">
                    <p class="first-five-num">1</p>
                </div>
                <div class="number">
                    <input class="number-input" id="p0-num4" type="number">
                </div>
                <div class="player-name">
                    <input class="player-input" id="p0-4" type="text" autocomplete="off">
                </div>
            </div>
        </div>
        <div class="part4">
            <button class="add" onclick="addPlayer(0)">Dodaj igralca</button>
        </div>
    </div>
    <div class="box">
        <div class="part1">
            <h2>Ekipa B</h2>
            <p>Vpišite podatke za drugo ekipo in njene igralce.</p>
        </div>
        <div class="part2">
            <div class="team-info">
                <p style="font-size: 14px;">Ime ekipe B</p>
                <input class="team-input" type="text">
            </div>
            <div class="team-info">
                <p style="font-size: 14px;">Barva dresov</p>
                <div class="color">
                    <input type="color" class="colorpicker">
                </div>
            </div>
        </div>
        <div class="part3">
            <div class="player-info 1" style="padding: 0;">
                <div class="first-five hover F1" onclick="firstFive(0, 1)" style="bottom: -22.5px;">
                    <p class="first-five-num">1</p>
                </div>
                <div class="number">
                    <p style="font-size: 14px;">#</p>
                    <input class="number-input" id="p1-num0" type="number">
                </div>
                <div class="player-name">
                    <p style="font-size: 14px;">Ime in priimek</p>
                    <input class="player-input" id="p1-0" type="text" autocomplete="off">
                </div>
            </div>
            <div class="player-info 1">
                <div class="first-five hover F1" onclick="firstFive(1, 1)">
                    <p class="first-five-num">1</p>
                </div>
                <div class="number">
                    <input class="number-input" id="p1-num1" type="number">
                </div>
                <div class="player-name">
                    <input class="player-input" id="p1-1" type="text" autocomplete="off">
                </div>
            </div>
            <div class="player-info 1">
                <div class="first-five hover F1" onclick="firstFive(2, 1)">
                    <p class="first-five-num">1</p>
                </div>
                <div class="number">
                    <input class="number-input" id="p1-num2" type="number">
                </div>
                <div class="player-name">
                    <input class="player-input" id="p1-2" type="text" autocomplete="off">
                </div>
            </div>
            <div class="player-info 1">
                <div class="first-five hover F1" onclick="firstFive(3, 1)">
                    <p class="first-five-num">1</p>
                </div>
                <div class="number">
                    <input class="number-input" id="p1-num3" type="number">
                </div>
                <div class="player-name">
                    <input class="player-input" id="p1-3" type="text" autocomplete="off">
                </div>
            </div>
            <div class="player-info 1">
                <div class="first-five hover F1" onclick="firstFive(4, 1)">
                    <p class="first-five-num">1</p>
                </div>
                <div class="number">
                    <input class="number-input" id="p1-num4" type="number">
                </div>
                <div class="player-name">
                    <input class="player-input" id="p1-4" type="text" autocomplete="off">
                </div>
            </div>
        </div>
        <div class="part4">
            <button class="add" onclick="addPlayer(1)">Dodaj igralca</button>
        </div>
    </div>
    <script>
        var players = [
            {
                onCourt : {},
                onBench : {}
            },
            {
                onCourt : {},
                onBench : {}
            }
        ]

        function saveTeam() {
            for (var i = 0; i < players.length; i++) {
                players[i].color = document.getElementsByClassName("colorpicker")[i].value
                players[i].name = document.getElementsByClassName("team-input")[i].value

                for (var l = 0; l < document.getElementsByClassName(i).length; l++) {
                    players[i][document.getElementById("p"+i+"-num"+l).value] = {name : document.getElementById("p"+i+"-"+l).value, number: document.getElementById("p"+i+"-num"+l).value, points : 0, fouls : 0, minutes : [0, 00]}
                    if (firstFiveSquare[i][l].classList.contains("blue") == true) {
                        players[i].onCourt[firstFiveSquare[i][l].children[0].textContent -1] = players[i][document.getElementById("p"+i+"-num"+l).value].number
                    } else {
                        players[i].onBench[Object.keys(players[i].onBench).length] = players[i][document.getElementById("p"+i+"-num"+l).value].number
                    }
                }    
            }

            localStorage.setItem("players", JSON.stringify(players))
        }

        var blue = [document.getElementsByClassName("F0 blue"), document.getElementsByClassName("F1 blue")]
        var part3 = document.getElementsByClassName("part3")
        var savedInputs = [[], []]
        function addPlayer(c) {
            for (var i = 0; i < document.getElementsByClassName(c).length; i++) {
                savedInputs[0].push(document.getElementById("p"+c+"-"+i).value)
                savedInputs[1].push(document.getElementById("p"+c+"-num"+i).value)
            }
            part3[c].innerHTML += '<div class="player-info '+c+'"><div class="first-five hover F'+c+'" onclick="firstFive('+document.getElementsByClassName("F"+c).length+', '+c+')"><p class="first-five-num">'+ (blue[c].length+1) +'</p></div><div class="number"><input class="number-input" id="p'+c+'-num'+ document.getElementsByClassName(c).length +'" type="number"></div><div class="player-name"><input class="player-input" id="p'+c+'-'+ document.getElementsByClassName(c).length +'" type="text" autocomplete="off"></div></div>'
            for (var i = 0; i < document.getElementsByClassName(c).length -1; i++) {
                document.getElementById("p"+c+"-"+i).value = savedInputs[0][i]
                document.getElementById("p"+c+"-num"+i).value = savedInputs[1][i]
            }
            savedInputs = [[], []]
        }

        var firstFiveSquare = [document.getElementsByClassName("F0"), document.getElementsByClassName("F1")]
        function firstFive(a, b) {
            if (firstFiveSquare[b][a].classList.contains("blue") == true) {
                firstFiveSquare[b][a].classList.remove("blue")
                for (var i = 0; i < blue[b].length; i++) {
                    if (+blue[b][i].children[0].textContent > firstFiveSquare[b][a].children[0].textContent) {
                        blue[b][i].children[0].textContent = +blue[b][i].children[0].textContent - 1
                    }
                }
                for (var i = 0; i < firstFiveSquare[b].length; i++) {
                    if (firstFiveSquare[b][i].classList.contains("blue") == false) {
                        firstFiveSquare[b][i].children[0].textContent = blue[b].length + 1
                        firstFiveSquare[b][i].classList.add("hover")
                    }
                }
            } else if (blue[b].length < 5) {
                firstFiveSquare[b][a].classList.add("blue")
                firstFiveSquare[b][a].children[0].textContent = blue[b].length
                for (var i = 0; i < firstFiveSquare[b].length; i++) {
                    if (firstFiveSquare[b][i].classList.contains("blue") == false & blue[b].length < 5) {
                        firstFiveSquare[b][i].children[0].textContent = blue[b].length +1
                    } else if (firstFiveSquare[b][i].classList.contains("blue") == false) {
                        firstFiveSquare[b][i].children[0].textContent = ""
                        firstFiveSquare[b][i].classList.remove("hover")
                    }
                }
            }
        }

        var team0 = [["Luka Doncic", "Kyrie Irving", "Josh Green", "Maxi Kleber", "Christian Wood", "Reggie Bullock", "Davis Bertans", "Frank Ntilikina", "Tim Hardaway", "Dwight Powell", "Jaden Hardy", "JaVale McGee"], [77, 2, 6, 19, 5, 0, 7, 12, 11, 65, 45, 15]]
        var team1 = [["Kawhi Leonard", "Paul George", "Marcus Morris", "Nicolas Batum", "Ivica Zubac", "Eric Gordon", "Moses Brown", "Terance Mann", "Bones Hyland", "Amir Coffey", "Brandon Boston Jr.", "Norman Powell"], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
        var names = ["Dallas Mavericks", "LA Clippers"]
        var color = ["#0000FF", "#FFFFFF"]
        var starting0 = [["blue", "blue", "blue", "blue", "blue", , , , , , , ], [1, 2, 3, 4, 5, "", "", "", "", "", "", ""]]
        var starting1 = [["blue", "blue", "blue", "blue", "blue", , , , , , , ], [1, 2, 3, 4, 5, "", "", "", "", "", "", ""]]

        document.addEventListener("keydown", magic)

        function magic(e) {
            if (e.key === "Enter") {
                for (var i = 0; i < 2; i++) {
                    for (var m = 0; m < 7; m++) {
                        addPlayer(i)
                    }

                    document.getElementsByClassName("team-input")[i].value = names[i]
                    document.getElementsByClassName("colorpicker")[i].value = color[i]
                    
                    for (var l = 0; l < 12; l++) {
                        document.getElementById("p"+i+"-"+l).value = window["team"+i][0][l]
                        document.getElementById("p"+i+"-num"+l).value = window["team"+i][1][l]

                        document.getElementsByClassName("F"+i)[l].classList.add(window["starting"+i][0][l])
                        document.getElementsByClassName("F"+i)[l].children[0].textContent = window["starting"+i][1][l]
                    }
                }
            } 
        }
    </script>
</body>
</html>